<div id="skils" class="container-fluid background-dark">
    <div class="container fullpageheight">
        <h3>What I can do _____</h3>
        <h2>My Skils</h2>
        <div class="row skil-boxes-grid">
            <div class="col-md-4" *ngFor="let skil of skils">
                <div class="skilbox-sz skilbox-pd box-style">
                    <span class="iconskil-cont"><img src="{{skil.iconPath}}" class="skils-icon" alt="icon"></span>
                    <h4>{{skil.title}}</h4>
                    <p>{{skil.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
