.skilbox{
    width: 300px;
    height: 300px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    /*border: 1px solid rgb(10, 10, 10);;*/
    box-shadow: 1px 4px 8px var(--scnd)
    /*box-shadow: 0 1.6rem 2.4rem rgba(48, 48, 48, 0.25);*/
}
.skil-boxes-grid{
    margin-top: 40px;
    
}
.skils-icon{
    width: 50px;
    margin-left: 5px;
    margin-top: 3px;
    text-align: center;
}
.iconskil-cont{

    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: var(--scnd);
    opacity: 0.5;
}
h3{
    text-align: center;
    align-content: center;
    color:var(--scnd);
}
h2{
    text-align: center;
    color:var(--white);
}
h4{
    color: var(--white);
}
p{
    color:var(--scnd)
}