<app-header></app-header>
<div id="login">
    <div class="container-fluid background-dark fullpageheight">
        <div class="container">
            <div class="login-form-cont box-style">
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit($event)">
                    <label class="form-label" for="nombredeusuario">Nombre de Usuario</label>
                    <input class="form-control" type="text" id="nombredeusuario" formControlName="nombredeusuario" placeholder="Ingrese su nombre de Uusario"/>
                    <div class="error" *ngIf="Nombredeusuario?.touched && Nombredeusuario?.hasError('required')">
                        Debe Ingresar un Nombre de Usuario
                    </div>
                    <label class="form-label" for="password">Contraseña</label>
                    <input class="form-control" type="password" id="password" formControlName="password" placeholder="Ingrese su Contraseña"/>
                    <div class="error" *ngIf="Password?.touched && Password?.hasError('required')">
                        Debe Ingresar una Contraseña
                    </div>
                    <input type="submit" name="Login" class="btn btn-color"/>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>