<div id="home">
<div class="container-fluid background-dark fullpageheight">
    <div class="container cont-welcomepg">
    <div class="row">
        <div class="col-md-6 flx-align-bottom">
            <div class="contflxpg">
                <h3 class="color-white">{{saludo}}</h3>
                <h1 class="color-white">{{nombre}}</h1>
                <h3 class="color-scnd">{{devclasificacion}}</h3>
                <button type="button" class="btn btn-primary btn-color" (onclick)="btnSeeMore()">{{buttontext}}</button>
            </div>
        </div>
        <div class="col-md-6 flx-align-cntrhor">  
            <img src="{{avatarsrc}}" class="img-avatar" alt="avatar"/>
        </div>
    </div>
</div>
</div>
</div>