h1{
    font-size: 4em;
}
.background-dark{
    background-color: black;
}
@media only screen and (max-width : 800px){
    .fullpageheight{
        height: auto !important;
    }        
}

.contflxpg{
    width: 50%;
}
.cont-welcomepg{
    
    padding-top: 50px;
}
.img-avatar{
    margin-left: 40px;
    width: 80%;

}

.flx-align-bottom{
    display: flex;
    align-items:flex-end;
}
button{
    margin-top: 20px;

}
.btn-color{
    font-weight: 500;
    background-color: var(--fst);
    color: var(--black);
}
.color-white{
    color: var(--white);
}
.color-scnd{
    /*color:#00aeff;*/
    color:var(--fst);
}