<div class="fullpageheight background-dark" id="proyects">
    <div class="container">
        <div class="row">
        <div class="col-md-6" *ngFor="let proyect of proyects">
            <div class="proyect-item box-style proyect-itmsz">
                <div class="nonhovercont">
                <img src="{{proyect.imglink}}" class="img-proyects" alt="{{proyect.title}}"/>
                <div class="proyecttitle"><h3>{{proyect.title}}</h3></div>
                </div>
                <div class="hovercont">
                    <div class="hoverabout">
                        <p>{{proyect.about}} - DevLanguage:{{proyect.devlanguage}}</p>
                        <a href="{{proyect.githublink}}" alt="Github Link"><fa-icon [icon]="fagithub" class="icon"></fa-icon></a>
                        <a href="{{proyect.weblink}}" alt="Web Link"><fa-icon [icon]="faLink" class="icon"></fa-icon></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>    
</div>